body {
    font-family: var(--font-mulish);
}
.background  {
   background-color: var(--deep-purple);
}


.white {
    color: white;
}



.marge {
    padding-left: 20px;
    padding-right: 20px;
}
.colortext {
    color: white;
}