.background  {
   background-color: var(--deep-purple);
}

.marge_header {
    margin-top: 20px;
    margin-left: 20px;
}
.white {
    color: white;
}

.flex_header {
    display: flex;
    justify-content: space-between;
}

.marge {
    padding-left: 20px;
    padding-right: 20px;
}
.colortext {
    color: white;
}