.background_color_article {
    background-color: var(--purple);
    margin-left: -20px;
    margin-right: -20px;
}

.flex_article {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}
.flex_column_article {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.gap {
    gap: 10%;
}
.marge_zone {
    margin-top: 40px;
    margin-bottom: 40px;
}
.marge_div_zone {
    padding-top: 20px;
    padding-bottom: 30px;
}
.marge_article_left {
    margin-left: 5%;
}
.marge_article_right {
    margin-right: 5%;
}
.marge_text_article {
    margin-left: 30%;
    margin-right: 30%;
}
.size_tshirt {
    height: 60%;
    width: 60%;
}
.flex_article_tshirt  {
    display: flex;
    justify-content: center;
}
.flex_article_quete {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.marge_quete_bot {
    margin-bottom: 10px;
    
}
.marge_quete_side {
    margin-left: 10%;
    margin-right: 10%;
}
.size_axolotl_per {
    
}

.flex_axolott_per {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex_article_phone {
    display: flex;
    align-items: center;
}