.form_button  {
    background-color:  var(--cyan);
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}
.form_button_send  {
    background-color:  var(--cyan);
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 125px;
    padding-right: 125px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 15px;
}
.form_fond {
    background-color:  var(--dark-purple);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 100px;
    border-radius: 5px;
    color: white;
}
::placeholder {
    color: white;
  }
textarea {
    background-color:  var(--dark-purple);
    border: none;
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 110px;
    border-radius: 5px;
    resize: none;
    color: white;
}